@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

/* Picker */

#hsb_colorfield{
	float:left;
	width: 220px;
	height: 220px;
	margin-bottom: 10px;
	background-image:url(../img/farbfeld.png);
	background-size:contain;
}

#draggable{
	width:15px;
	height:15px;
	background-color:transparent;
	background-image:url(../img/dot.png);
	background-size:cover;
}

#wheeldrag{
	width:15px;
	height:15px;
	background-color:transparent;
	background-image:url(../img/dot.png);
	background-size:cover;
}

#hsb_colorbar{
	float:left;
	width: 15px;
	height: 220px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-image:url(../img/colorline.png);
	background-size:cover;
}

#hsb_colorbar .ui-slider-handle{
	width:15px;
	height:15px;
	margin-bottom:-7px;
	margin-left:5px;
	padding: 0px;
	background-image:url(../img/dot.png);
	background-size:cover;
	background-color:transparent;
	border:none;
}


/* Wheel */

#wheelcontainer{
	float:left;
	width: 250px;
	height: 250px;
	margin-bottom: 10px;
}


/* Harmonies */

#colorfields_container{
	padding-top: 10px;
	float:left;
	width:100%;
}

#colorfields_container .colorfield{
	width:43px;
	height:43px;
	float:left;
	margin-right:5px;
	margin-top: 5px;
	border:1px dotted #666;
}

#colorfields_container .colorfield:hover{
	border:1px dotted white;
}

/* Favourites */

.favourite_container {
	float:left;
	border:1px dotted #666;
	width:76px;
	height:43px;
	margin-right:5px;
	margin-top: 5px;
}

.remove_favourite {
	float:left; 
	height:15px;
	width:15px;
	background-image:url('../img/trash.png');
	background-size:contain;
	margin-left:-15px;
}

.favourite_color {
	float:left; 
	width:76px;
	height:43px;
}

.favourite_container:hover{
	border:1px dotted white;
}



