@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

/* Harmonies */

#colorfields_container{
	padding-top: 10px;
	padding-bottom:10px;
	float:left;
	width:100%;
}

#colorfields_container .colorfield{
	width:43px;
	height:43px;
	float:left;
	margin-right:5px;
	margin-top: 5px;
	border:1px dotted #666;
}

#colorfields_container .colorfield:hover{
	border:1px dotted white;
}

